Testing/Testing.accdb.src/tbldefs/USysApplicationLog.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="USysApplicationLog" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="generated" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="USysApplicationLog">
		<xsd:annotation>
			<xsd:appinfo>
				<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc"/>
				<od:tableProperty name="Orientation" type="2" value="0"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int"/>
				<xsd:element name="SourceObject" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Data_x0020_Macro_x0020_Instance_x0020_ID" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Error_x0020_Number" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Category" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Object_x0020_Type" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Description" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Context" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Created" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="Required" type="1" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
