Version Control.accda.src/tbldefs/tblStrings.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tblStrings" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="generated" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="tblStrings">
		<xsd:annotation>
			<xsd:appinfo>
				<od:index index-name="ID" index-key="ID " primary="no" unique="no" clustered="no" order="asc"/>
				<od:index index-name="msgid" index-key="msgid " primary="no" unique="no" clustered="no" order="asc"/>
				<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc"/>
				<od:tableProperty name="Orientation" type="2" value="0"/>
				<od:tableProperty name="OrderByOn" type="1" value="0"/>
				<od:tableProperty name="DefaultView" type="2" value="2"/>
				<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
				<od:tableProperty name="TotalsRow" type="1" value="0"/>
				<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
				<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
				<od:tableProperty name="HideNewField" type="1" value="0"/>
				<od:tableProperty name="BackTint" type="6" value="100"/>
				<od:tableProperty name="BackShade" type="6" value="100"/>
				<od:tableProperty name="ThemeFontIndex" type="4" value="1"/>
				<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="1"/>
				<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
				<od:tableProperty name="AlternateBackShade" type="6" value="95"/>
				<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
				<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="3"/>
				<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="0"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="msgid" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="3855"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="FullString" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextFormat" type="2" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AppendOnly" type="1" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Context" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="5895"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Comments" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextFormat" type="2" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AppendOnly" type="1" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
